h4 {
  padding-top: 40px;
}

table {
  width: 100%;
}

table td {
  text-align: center;
  color: rgba(0, 57, 87, 1);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

table th {
  color: aliceblue;
  background-color: rgba(2, 132, 199, 0.7);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

tbody td {
  text-align: center;
}

.status-completed {
  color: #3cb371 ;
}

.status-completed h3 {
  color: #3cb371 ;
  background-color: #76ff7b61;
  border-radius: 50px;
  padding: 10px 5px 10px 5px;

}

.status-canceled {
  color: #dc143c;
}

.status-canceled h3 {
  color: #dc143c;
  background-color: #ff999967 ;
  border-radius: 50px;
  padding: 10px 5px 10px 5px;

}

.status-assessing {
  color: #ff7f50;
}

.status-assessing h3 {
  color: #ff7f50;
  background-color: #ffc87c6c ;
  border-radius: 50px;
  padding: 10px 5px 10px 5px;

}