.custom-input .ant-input-number,
.custom-input .ant-select-selector {
  height: 40px; 
  padding: 0 11px;
  font-size: 16px;
  width: 100%; 
}

.ant-input-number-input {
  height: 100%;
  line-height: 40px; 
}

.ant-select-selector {
  width: 100% !important; 
}

.custom-input {
  width: 100% !important; 
}
