.evaluate-service {
    padding: 20px;
}

.section {
    margin-bottom: 20px;
    text-align: center;
}

.header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.table-container {
    overflow-x: auto;
    margin: 0 auto;
    width: 80%;
}

.service-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin: 0 auto;
    background-color: #fff;
}

.service-table th,
.service-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.service-table th {
    background-color: #1a3679;
}

.service-table ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.service-table li {
    margin-bottom: 5px;
}