.stepper{
    margin-left: 180px;
    font-size: 20px;
 
}
.stepper h4 {
    border: 1px ;
    -webkit-box-shadow: 1px 1px 7px 4px rgba(0,0,0,0.3); 
    box-shadow: 1px 1px 7px 4px rgba(0,0,0,0.2);
    padding: 3px;
    margin-right: 50px;
}
.table{
    margin-left: 130px;
}
table{
    width: 100%;
    
}
table td{
    text-align: center;
    color: rgba(0, 57, 87, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

}
table th{
    color: aliceblue;
    background-color: rgba(2, 132, 199, 0.7);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}