/* src/components/Footer/Footer.scss */
.footer {
  width: 100%;
  background-color: #000000;
  padding: 20px 0;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative; /* Đảm bảo footer không bị cố định */
  bottom: 0;

  .footer-section {
    flex: 1;
    padding: 0 20px;
    min-width: 250px; /* Đảm bảo các phần tử không bị co lại quá nhỏ */

    &.logo-section {
      display: flex;
      flex-direction: column;
      align-items: center;

      .footer-logo {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        img {
          height: 100px;
          margin-right: 10px;
        }
      }
    }

    &.footer-links {
      display: flex;
      justify-content: center;
      flex: 2;
      flex-wrap: wrap;

      a {
        color: #ffffff;
        margin: 0 15px;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &.footer-contact {
      flex: 1;
      text-align: left;

      p {
        margin: 5px 0;
        color: #ffffff;
      }
    }
  }
}
