@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Inter:wght@100..900&display=swap");

html * {
  font-size: 20px;
  font-family: "Inter";
}

/* Default styles for the input range thumb */
input[type="range"]::-webkit-slider-thumb {
  width: 15px;
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  cursor: ew-resize;
  border-radius: 50%;
}

/* Light mode styles */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"]:not(.dark-mode)::-webkit-slider-thumb {
    background: #fff;
    box-shadow: -405px 0 0 400px #fffbf7;
  }
}

/* Dark mode styles */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"].dark-mode::-webkit-slider-thumb {
    background: #333;
    /* Adjust the color for dark mode */
    box-shadow: -405px 0 0 400px #000;
    /* Adjust the shadow color for dark mode */
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.active {
  @apply text-cyan-500;
}

.active svg {
  @apply text-cyan-500;
}

.bar:nth-child(2) {
  animation-delay: 0.2s;
}

.bar:nth-child(3) {
  animation-delay: 0.4s;
}

.bar:nth-child(4) {
  animation-delay: 0.6s;
}

.bar:nth-child(5) {
  animation-delay: 0.8s;
}

.bar:nth-child(6) {
  animation-delay: 1s;
}

.smooth-transition {
  transition: all 0.3s ease-in-out;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.backdropTeacher {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
}

.modalTeacher {
  position: fixed;

  width: 60%;
  z-index: 100;
  overflow: hidden;
}
@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }
  }
}
.marquee {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Apply the animation to the element */
.animate-bg-gradient {
  background: linear-gradient(-45deg, #ee7752, #b38999, #4e7380, #010202);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  height: 100vh;
}
.shadow-card {
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* @font-face {
  font-family: 'Baloo Bhai 2';
  src: url("/public/fonts/BalooBhai2-Regular.ttf") ;

} */
.BalooBhai2 {
  font-family: "Baloo Bhai 2", sans-serif;
  font-weight: bold;
}
.BalooBhai2Semibold {
  font-family: "Baloo Bhai 2", sans-serif;
  font-weight: 600;
}

.custom-table {
  border-collapse: separate;
  border-spacing: 0 4px; /* Adjust the second value to set the vertical gap between rows */
}

.custom-table td,
.custom-table th {
  padding: 4px;
}
.custom-table td {
  background-color: white;
}
.custom-table thead {
  border-radius: 10px;
}

.custom-table thead tr th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.custom-table thead tr th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.custom-table tbody tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.custom-table tbody tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.custom-table tbody tr:hover {
  background-color: #e0f7fa; /* Change the background color to your desired hover effect */
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
  cursor: pointer;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #cccccc;
  color: #666666;
}
input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #cccccc;
  color: #666666;
}
.truncate {
  max-width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
div[data-testid="modal-overlay"] div[role="dialog"] {
  display: flex;
  align-items: center;
  width: fit-content;
}
div[data-testid="modal-overlay"] div[role="dialog"] div {
  flex: 1 1;
}
div[data-testid="modal-overlay"] div[role="dialog"] h3 {
  font-family: "Baloo Bhai 2";
  font-weight: bold;
  color: #003957 !important;
  text-transform: uppercase;
}

.blueButton {
  border-radius: 20px;
  height: fit-content;
  width: fit-content;
  padding: 0.25rem 1.25rem;
  border-width: 2px;
  background-color: #4299e1; /* Assuming bg-blue_base corresponds to this color */
  color: #ffffff; /* Assuming text-white corresponds to this color */
  font-weight: bold;
  font-family: "Inter", sans-serif; /* Assuming font-inter corresponds to the 'Inter' font */
}
.custom-select select {
  color: #0284c7;
  border-width: 2px;
  border-color: #0284c7;
  font-weight: 600;
  border-radius: 30px;
  background-color: white;
  min-width: 180px;
}

.h-full.overflow-y-auto.overflow-x-hidden.rounded.bg-gray-50.py-4.px-3 {
  padding: 0;
}
.ml-3.flex-1.whitespace-nowrap.text-left {
  font-size: 16px;
  margin-left: 0px;
  font-weight: 500;
  font-family: "Baloo Bhai 2", sans-serif;
}
li {
  list-style-type: none;
}
/* .rounded-md.p-2.text-base.text-blue_dark.transition-all {
  width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
} */

.notificationWrapper {
  @apply relative flex flex-row items-center justify-between px-4 py-6 text-white transition-all duration-500 ease-in-out translate-y-0 bg-gray-900 shadow-2xl w-96 hover:shadow-none transform-gpu hover:translate-y-1 rounded-xl;
}

.iconWrapper {
  @apply text-xl;
}

.contentWrapper {
  @apply flex flex-col items-start justify-center ml-4 cursor-default;
}

.contentWrapper h1 {
  @apply text-base font-semibold leading-none tracking-wider text-gray-200;
}

.contentWrapper p {
  @apply mt-2 text-sm leading-relaxed tracking-wider text-gray-400;
}

.closeIcon {
  @apply absolute text-lg cursor-pointer top-2 right-2;
}

@keyframes fadeInSnackbar {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.snack-bar {
  animation: fadeInSnackbar 0.5s ease-out;
}

/* Hide arrow input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.Tooltip {
  background-color: #444;
  color: white;
  font-size: 90%;
  padding: 4px 8px;
  border-radius: 4px;
  box-sizing: border-box;
  width: max-content;
  max-width: calc(100vw - 10px);
}
